###
### for quick testing: rebuild, copy and activate with
### make -f /usr/share/selinux/devel/Makefile && scp thruk_42.pp <host>: && ssh <host> "semodule -i thruk_42.pp"
###

policy_module(thruk_42, 0.0.3)

type thruk_etc_t;
files_type(thruk_etc_t)

type thruk_log_t;
files_type(thruk_log_t)

type thruk_cache_t;
files_type(thruk_cache_t)

type thruk_var_lib_t;
files_type(thruk_var_lib_t)

require {
  type httpd_t;
  type logrotate_t;
  type systemd_timedated_t;
  type shadow_t;
  class file { getattr open read };
  class dir { create read };
  class dbus send_msg;
}


allow httpd_t thruk_etc_t:dir list_dir_perms;
allow httpd_t thruk_etc_t:file { read_file_perms map };
allow httpd_t thruk_etc_t:lnk_file read_lnk_file_perms;


## collected from audit2allow and normalized so all thruk_* with the same rights
#============= httpd_t ==============
allow httpd_t thruk_cache_t:dir    { add_name create read remove_name setattr write };
allow httpd_t thruk_cache_t:file   { append create getattr ioctl lock open read rename setattr unlink write };
allow httpd_t thruk_log_t:dir      { add_name create read remove_name setattr write };
allow httpd_t thruk_log_t:file     { append create getattr ioctl lock open read rename setattr unlink write };
allow httpd_t thruk_var_lib_t:dir  { add_name create read remove_name setattr write rmdir };
allow httpd_t thruk_var_lib_t:file { append create getattr ioctl lock open read rename setattr unlink write };
# not sure about this one
allow httpd_t systemd_timedated_t:dbus send_msg;
# nobody except root is allowed to read shadow, so shutup
dontaudit httpd_t shadow_t:file { getattr open read };

#============= logrotate_t ==============
allow logrotate_t thruk_cache_t:dir read;
allow logrotate_t thruk_log_t:dir { add_name read remove_name write };
allow logrotate_t thruk_log_t:file { create getattr open read rename setattr write ioctl unlink };
