###
###

policy_module(thruk_42, 0.0.1)

type thruk_etc_t;
files_type(thruk_etc_t)

type thruk_log_t;
files_type(thruk_log_t)

type thruk_cache_t;
files_type(thruk_cache_t)

type thruk_var_lib_t;
files_type(thruk_var_lib_t)

require {
  type httpd_t;
}

allow httpd_t thruk_etc_t:dir list_dir_perms;
allow httpd_t thruk_etc_t:file { read_file_perms map };
allow httpd_t thruk_etc_t:lnk_file read_lnk_file_perms;

# collected from audit2allow
allow httpd_t thruk_cache_t:dir { add_name remove_name setattr write };
allow httpd_t thruk_cache_t:file { append create getattr ioctl lock open read rename setattr unlink write };
allow httpd_t thruk_log_t:file { append getattr ioctl open };
allow httpd_t thruk_var_lib_t:dir { add_name create read remove_name setattr write };
allow httpd_t thruk_var_lib_t:file { append create getattr ioctl lock open read rename setattr unlink write };
